section{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0;
    padding: 10px;
}


.titulo{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.circulo{
    height: 300px;
    width: 300px;
    background-color: blue;
    border-width: 10px;
    border-style: double;
    border-radius: 250px;
    border-color: orangered;
}

